@import url('_reset.css');
@import url('_variaveis.css');

body {
    height: 100vh;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    overflow: visible;
    overflow-x: hidden;
}

