header {
    background: var(--linear);
    width: 100%;
    height: 30%;
    font-family: 'Lexend Deca', sans-serif;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0 20%;
    height: 100%;
}

.header__nav {
    box-sizing: border-box;
    margin-top: 3%;
    margin-bottom: 6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    font-weight: 400;
    font-size: 1.2rem;
}

.header__pesquisar {
    box-sizing: border-box;
    min-height: 25%;
    
}

.header__input {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    border-color: var(--blue);
    border-radius: 5px;
    border-style: none;
    position: relative;
    font-family: 'Inter', sans-serif;
    color: var(--white);
    font-size: 1.2rem;
    padding-left: 5%;
}

.header__input::-webkit-input-placeholder {
    color: var(--white);
}
 
.header__input::-moz-placeholder { /* Firefox 18- */
    color: var(--white);  
}
 
.header__input::-moz-placeholder {  /* Firefox 19+ */
    color: var(--white);  
}
 
.header__input:-ms-input-placeholder {  
    color: var(--white);  
}

.header__input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

.header__pesquisar i{
    position: absolute;
    color: var(--white);
    height: 100%;
    width: 100%;
    margin: 1.1% 1%;
}

/* RESPONSIVIDADE */
@media (min-width: 1025px) and (max-width: 1280px) {
    .noticias {
        margin: 0 20%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header {
        margin: 0 10%;
    }

    .header__nav {
        padding-bottom: 3%;
        font-size: 1rem;
    }

    .header__pesquisar i{
        margin: 2.5% 2%;
    }

    .header__input {
        padding-left: 6%;
    }
    
}

@media (min-width: 482px) and (max-width: 767px) {
    .header {
        margin: 0 10%;
    }

    .header__nav {
        padding-top: 3%;
        padding-bottom: 6%;
        font-size: 1rem;
    }

    .header__pesquisar i{
        margin: 3.5% 2%;
    }

    .header__input {
        padding-left: 8%;
    }
}

@media (min-width:320px) and (max-width: 480px) {
    .header {
        margin: 0 10%;
    }

    .header__nav {
        padding-top: 5%;
        padding-bottom: 15%;
        font-size: 1rem;
    }

    .header__pesquisar i{
        margin: 6% 5%;
    }

    .header__input {
        padding-left: 15%;
    }
}

