main {
    box-sizing: border-box;
    background-color: var(--gray);
    min-height: calc(100vh - 30vh);
    width: 100%;

    display: flex;
    flex-direction: column;

    font-family: 'Lexend Deca', sans-serif;
    padding-top: 7%;
}
